<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生列表信息</title>
</head>
<body>
    <h1>学生列表信息</h1>
    <div>
      <a href="/student/addInput">添加学生</a>
    </div>
    <table>
      <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>操作</th>
      </tr>
      <!--stu:所遍历的集合中元素的变量名
        students:后端存放在model对象中的参数名
      -->
      <tr th:each="stu:${students}">
        <td th:text="${stu.no}">1112001</td>
        <td th:text="${stu.name}">小张</td>
        <td th:text="${stu.age}">20</td>
        <td><a href="#">更新</a>&nbsp;&nbsp;&nbsp;<a href="#">删除</a></td>
      </tr>
    </table>

</body>
</html>